.ownerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: minmax(10px,auto);
   grid-auto-rows: minmax(10px,auto);
   border: 1px solid rgb(91, 179, 32);  
}



.ownerInfo img{
   
  width: 100%;
  height: 100%;

}
.ownerInfo .ownerImg{
   display: block;
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
}
.ownerInfo .ownerDetail{
    width: 400px;
}
.ownerInfo .item{
    padding:2rem 2rem;
    border: 1px solid var(--primary-color);

}