#acServiceNav{
    background-color: var(--secondary-color);
}
.Services{
    padding: 50px 60px;
    margin: left;
    font-size: xx-large; 
}
.subservice{
    color: darkred;
}
.sub1{
    font-size: large;
}
.image img{
padding: 20px 20px;
    border-radius:5px;
    width: 60%;
    height: 300px;
    transition: all 0.4s ease;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.image img:hover{
    transform: scale(1.2);
}
.Services .sub3{
   font-size: large;
}