.companyWiseServiceCon{
    display: flex;
    gap:3rem;
}
.companyWiseServiceCon ul{
    list-style-type: disc;
    padding-left: 15px;
}

.companyWiseServiceSect{
    padding: 3rem 3rem;
}
.companyWiseServiceSect>h1{
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}
.serviceImg{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    
}

.serviceImg img{
    width: 320px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-1);

}
.serviceDetail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.serviceImg  a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 50px;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--appointment-color);

}
.serviceImg  a:hover{
    background-color: var(--secondary-color);

}
.serviceImg a i{
    padding-bottom: 3px;
}


/* media queries */
@media screen and ((min-width:451px) and (max-width:768px)){
    .companyWiseServiceSect {
        padding: 2rem 2rem;
    }
    .companyWiseServiceCon {
        gap: 3rem;
        flex-direction: column-reverse;
    }
    .serviceImg {
        flex-direction: row-reverse;
        gap: 1rem;
    }
    .serviceImg img {
        width: 244px;
    }
    .serviceImg a i {
        display: none;
    }
    .serviceImg a{
        height: 70px;
        text-align: center;
    }
    .serviceImg .apptmnt{
        display: flex;
        align-self: end;
    }
}

@media screen and (max-width:450px) {
    
    .companyWiseServiceSect {
        padding: 1rem 1rem 2rem 1rem;
        padding: 1rem 1.3rem 2rem 1.3rem;
    }
    .companyWiseServiceCon {
        flex-direction: column-reverse;
        gap: 3rem;
    }
    .serviceImg {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .serviceDetail {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }
    .serviceDetailItem {
        border: 1px solid var(--secondary-color);
        box-shadow: var(--box-shadow-1);
        border-radius: 5px;
        padding: 1rem 1.5rem;
        transition: 0.2s;
    }
    .serviceDetailItem:hover{
        transform: scale(1.03);
        background-color: aliceblue;

    }
    .serviceImg img {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .companyWiseServiceSect>h1 {
        font-size: 1.8rem;
      
    }
    .companyWiseServiceSect {
        padding: 1rem 1rem 2rem 1rem;
    }
    
}