#engineServiceNav{
    background-color: (--secondary-color)}
.services{
    
    padding:50px 60px;
    margin: auto;
}
.serviceTop{
    font-size: medium;
    width: 100%;
    justify-content: space-between;
    
}
.ServicesSection{
    width:fit-content;
    font-style: normal;
    width: 100%;
    justify-content: space-around;
}
.subservice{
    /* width: 80%; */
    text-align:justify;
    font-size: 20px;
}
.subservice img{
    border-radius: 5px;
    width: 500px;
    /* height: 300px; */
    transition: all 0.4s ease;
    
}
.subservice .image {
    overflow: hidden;
    font-size: 0;
    width: fit-content;
    border-radius: 10px;
    margin: 1rem 0;
}
.subservice img:hover{
    transform: scale(1.2);
    
}
.subservice2Dis{
    font-size: 20px;
    text-align: justify;
}
.subservice2Dis .image2{
    overflow: hidden;
    font-size: 0; 
    line-height: 0;
    width: fit-content;
    border-radius: 10px;
    margin-top: 1rem;

    /* border: 5px solid red; */

}
.subservice2Dis .image2 img {
    padding: 0;
    width: 600px;
    height: 300px;
    transition: all 0.3s ease;
    
}
.subservice2Dis .image2 img:hover{
    transform: scale(1.2);
}


/* media queries*/

@media screen and (max-width:450px) {
    
    .services {
        padding: 1rem 1.5rem; 
        margin: 0;
    }
    
    .serviceTop h1{
        font-size: 1.6em;
    }
    
    .services h4{
        font-size: 1.2rem;
    }
    .subservice img {
        border-radius: 0px;
        width: 100%;
        /* height: 300px; */
        transition: all 0.4s ease;
    }
    .subservice2Dis .image2 img {
        padding: 0;
        border-radius: 0;
        width: 100%;
        height: auto;
    }
    .subservice2Dis .image2 {
        
        font-size: 0;
        line-height: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .subservice .image {
        font-size: 0;
        line-height: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .subservice {
        
        font-size: 16px;
    }
    .subservice2Dis{
        text-align: justify;
    }
}