#oilServiceNav{
    background-color: var(--secondary-color);
}
.oilServices{
    padding: 50px 60px;
    margin: left;
    font-size: xx-large; 
}
.subOil{
    color: darkred;
}
.subOil1{
    font-size: large;
}
.image img{
padding: 20px 20px;
    border-radius:5px;
    width: 60%;
    height: 300px;
    transition: all 0.4s ease;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.image img:hover{
    transform: scale(1.2);
}
.oilServices .sub3{
   font-size: large;
}
.oilServices.oilsubDis{
font-size: large;
}

/* media quries */
@media screen and (max-width:768px) {
    .oilServices h1{
        font-size: 3rem;
    }
    .oilServices h2{
        font-size: 2rem;
    }
}


@media screen and (max-width:450px) {
    
    .oilServices {
        padding: 1rem 1rem 2rem 1rem;
        font-size: 1rem;
    }
    .oilServices h1{
        font-size: 1.8rem;
    }
    .oilServices>:first-child{
        margin-bottom: 1rem;
    }
    .oilServices h2{
        font-size: 1.3rem;
    }
    .subOil1 h1{
        font-size: 1.5rem;
    }
    .oilServices p{
        text-align: justify;
    }
    .sub2 h1{
        font-size: 1.5rem;
    }
    .oilDis h1{
        font-size: 1.5rem;
    }
    .image img {
        padding: 0;
        border-radius: 0;
        width: 100%;
        height: auto;
        padding: 1rem 0 2rem 0;
    }
    .image img:hover{
        transform: none;
    }
}
